<h1>Here is your astrology sign</h1>
<div class="container">
	<% if (info) { %>
  		<p>Hello <%=info.name%></p>
  		<p>Birthday: <%=info.month%> / <%=info.day%></p>
  		<p>Astrology Sign: <%=info.sign%></p>
	<% } %>
</div>