<html>
<head>
	<title>Astrology By Birthday</title>
</head>
<body>
	<h3>Enter your infomation below to find out your astrology sign</h3>
	<form action="/astrologyByBirthday" method="post">
		<div>
			<label>Enter your name: </label>
			<input type="text" name="name" placeholder="First Last" required="">
		</div>
		<div>
			<label>Month: </label>
			<input type="number" name="month" required="">
		</div>
		<div>
			<label>Day: </label>
			<input type="number" name="day" required="">
		</div>
	<input type="Submit" name="">
</form>
	
</body>
</html>