<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
</head>
<body>
	<div class="container">
		<h1><a href="/astrologySigns">Astrology Sign</a></h1>
		<p>Enter your infomation below to find out your astrology sign</p>
		<form action="/astrology" method="post">
			<div>
				<label>Enter your name: </label>
				<input type="text" name="name" placeholder="First Last">
			</div>
			<div>
				<label>Month: </label>
				<input type="number" name="month">
			</div>
			<div>
				<label>Day: </label>
				<input type="number" name="day">
			</div>
			<input type="Submit" name="">
		</form>
	</div>

</body>
</html>